# Warning: List may not be complete. Used local Anaconda3 distribution instead of installing requirements in virtual environment.
appdirs==1.4.3
certifi==2022.12.7
chardet==3.0.3
cycler==0.10.0
decorator==4.0.11
idna==2.5
matplotlib==2.0.2
networkx==1.11
numpy==1.12.1
olefile==0.44
packaging==16.8
Pillow==4.1.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
PyWavelets==0.5.2
requests==2.17.3
scikit-image==0.13.0
scipy
six==1.10.0
urllib3==1.21.1
